@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a Notes Application which allows you to Create, Read, Update and Delete your Notes</p>
</div>
